/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f3064;
    box-shadow:0px 1px 0px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 40px 10px 40px; /* up right down left */
    border-top: 20px solid #000e3dfb;
    /* border-radius: 5px; */
  }
  
  .header-logo {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0px
  }
  
  .header-links {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Make the links container take available space */
    margin-left: 20px;
  
  }
  
  .header-links a {
    color: #ffffff;
    margin: 0 30px;
    font-size: 1rem;
    font-weight: 800;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.3s;
    opacity: 0.9;
  }
  
  .header-links a:hover {
    color: #ff5e00;
  }
  
  .header-button {
    color:#ffffff;
    font-family:'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-button:hover {
    color: #ff5e00;  /* Hover effect */
  }
  
  .login-button {
    font-family: 'Poppins', sans-serif;
    background-color: #ff9100;
    color: #ffffff;
    font-weight: 1000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 20px;
    width: 11rem;
  }
  
  .login-button:hover {
    background-color: #ff5e00;
  }
  
  /* Additional styles for search functionality */
  
  /* Search Box Styling */
  .searchBox {
    position:relative;
    background: #000e3dfb;
    height: 25px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    transition: width 0.4s ease;
  }
  
  .searchButton {
    color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ff9100;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.4s;
  }
  
  .searchInput {
    font-family: 'Poppins', sans-serif;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 16px;
    transition: width 0.4s ease;
    width: 0px;
    font-weight: 800;
  }
  
  .searchBox:hover .searchInput {
    width: 240px;
    padding: 6px 6px;
  }
  
  .searchBox:hover .searchButton {
    background: #ff5e00;
    color: #2f3640;
  }
  
  /* Styles for the dropdown menu */
  .dropdown {
    position: relative;
  }
  
  .dropdown-link {
    position: relative;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
    margin-right: 0px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%; /* Position it directly below the link */
    /* left: -5%; */
    background-color: #1f3064;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
    padding: 25px 10px 15px 10px;
  }
  
  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dropdown-menu a:hover {
    color: #ff5e00;
  }
  
  /* Adjustments for smooth appearance with other styles */
  .header-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-icon {
    font-size: 0.8rem;
    margin-left: 5px;
    transition: transform 0.3s ease;
  }
  
  /* Rotate the icon when dropdown is visible */
  .dropdown:hover .dropdown-icon {
    transform: rotate(180deg);
  }
  
  .logo-image {
    height: 40px; /* Adjust as needed */
    width: auto;
  }
  
  
  