:root {
  --primary-color: #ff9100;
  --hover-color: #ff5e00;
  --text-color: #ffffff;
  --border-color: #1f3064;
  --background-color: #000e3dfb;
}

.create-quiz-container {
  padding: 40px;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  min-width: 230vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-color);
}

.passing-score-input,
.question-input,
.option-input {
  margin-bottom: 20px;
}

textarea {
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  border-radius: 4px;
}

textarea:focus {
  outline: none;
  border-color: var(--hover-color);
}

.questions-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question-container {
  padding: 30px;
  background-color: var(--border-color);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.options-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-question-btn,
.save-btn,
.remove-question-btn,
.back-button {
  width: 200px;
  padding: 12px 16px;
  color: var(--text-color);
  background-color: var(--primary-color);
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-top: 30px;
  text-align: center;
}

.add-question-btn:hover,
.save-btn:hover,
.remove-question-btn:hover,
.back-button:hover {
  background-color: var(--hover-color);
}

.form-control-label {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.MuiRadio-root {
  color: var(--primary-color);
}

.Mui-checked {
  color: var(--hover-color);
}

.MuiInputLabel-root {
  color: var(--text-color);
  font-weight: bold;
  font-family: 'Poppins';
}

.MuiInputBase-root {
  color: var(--text-color);
  font-weight: bold;
  font-family: 'Poppins';
}
